<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css" />
  <title>{% block title %}{% endblock %} | Escriba</title>

  <!-- Optional for presenting friendly time values -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/locale/pt-br.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/localizedFormat.js"></script>
  <script src="/static/datetime.js" defer></script>
</head>
<body>
  <header>
    <nav role="navigation" aria-label="Main menu">
      {% macro nav_attr(endpoint) -%}
      {% if request.endpoint==endpoint %} class="active"{% endif %} href="{{ url_for(endpoint) }}"
      {%- endmacro %}
      <ul>
        <li><a{{ nav_attr('dashboard.index_view') }}>Salvar URLs</a></li>
      </ul>
    </nav>
    {% block header %}{% endblock %}
  </header>
  <main role="main">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% macro render_state(state) %}
    {% if state.name == "SUCCEEDED" -%}
    <p>&#x2714; Finalizado com sucesso</p>
    {%- elif state.name == "FAILED" -%}
    <p>&#x2718; Finalizado com falha</p>
    {%- elif state.name == "EXECUTING" -%}
    <p>&#x231B; Em progresso</p>
    {%- elif state.name == "PENDING" -%}
    <p>&#x1F4DD; Pendente</p>
    {%- endif %}
    {% endmacro %}

    {% macro render_ctime(entity) %}
    <time datetime="{{ entity.creation_time }}" title="{{ entity.creation_time }}">{{ entity.creation_time }}</time>
    {% endmacro %}
    {% macro render_mtime(entity) %}
    {% if entity.modified_time %}
    <time datetime="{{ entity.modified_time }}" title="{{ entity.modified_time }}">{{ entity.modified_time }}</time>
    {% else %}
    <time datetime="{{ entity.creation_time }}" title="{{ entity.creation_time }}">{{ entity.creation_time }}</time>
    {% endif %}
    {% endmacro %}

    {% block content %}{% endblock %}
  </main>
  <footer role="contentinfo">
    <p>Versão exclusivamente de demonstração. Todos os direitos reservados.</p>
  </footer>
  <aside role="complementary">
    <!-- Nada aqui ainda -->
  </aside>
</body>
</html>
