{% extends "base.html" %}

{% block header %}

<h1>{% block title %}Adicione URLs à sua coleção{% endblock %}</h1>

{% endblock %}

{% block content %}

<form id="add-transfer-form" method="POST">
  <input name="csrfmiddlewaretoken" value="UZkV" type="hidden">
  <label for="urls">URLs (uma por linha):</label><br>
  <textarea id="urls" name="urls" rows="10" wrap="off" placeholder="http://www.example.com/?q=domain&#10;https://myblog.net/articles/12345&#10;..."></textarea><br>
  <button id="submit" type="submit">Adicionar URLs ➕</button>
</form>
<h2>Trabalhos recentes</h2>
{% include 'list.transfer.html' %}

{% endblock %}
