{% if transfers %}
<table id="transfer-table">
  <tr>
    <th>UID</th>
    <th>Hora de criação</th>
    <th>Conteúdo</th>
  </tr>
  {% for transfer in transfers %}
  <tr>
    <td><a href="/transfer/{{ transfer.uid }}">{{ transfer.uid }}</a></td>
    <td><time datetime="{{ transfer.creation_time }}" title="{{ transfer.creation_time }}">{{ transfer.creation_time }}</time></td>
    <td><textarea readonly rows="1">{{ transfer.user_input }}</textarea></td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Nada aqui por enquanto!</p>
{% endif %}
